@media (max-width: 1200px) {
	.carousel {
		.prev {
			left: 30px;
		}
		.next {
			right: 30px;
		}
	}
	.reviews {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 990px) {
	.promo {
		padding: 21px 20px 93px 20px;
	}

	.advantage {
		padding: 50px 20px 62px 20px;
	}
	.consultation {
		.container {
			padding: 0px 20px 62px 40px;
		}
		.title {
			font-size: 30px;
		}
	}
	.carousel {
		padding: 100px 0;
		position: relative;

		.tns-item {
			img {
				padding-bottom: 50px;
			}
		}

		.prev,
		.next {
			display: none;
		}
		.tns-nav {
			position: absolute;
			width: 210px;
			margin: 0 auto;
			display: flex;
			margin-bottom: 30px;
			justify-content: space-between;
			align-items: center;
			bottom: -50px;
			left: 50%;
			transform: translateX(-50%);

			button {
				height: 25px;
				width: 25px;
				border-radius: 100%;
				background: #000;
				opacity: 0.2;
				transition: all 0.6s ease-out;
			}
			.tns-nav-active {
				width: 35px;
				height: 35px;
				opacity: 0.4;
			}
		}
	}
	.catalog {
		.container {
			max-width: 700px;
		}
		&__content {
			justify-content: space-around;
		}
		&-item {
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 767px) {
	.promo {
		padding: 21px 20px 93px 20px;
	}

	.advantage {
		padding: 50px 20px 62px 20px;
	}
	.consultation {
		.title {
			font-size: 30px;
		}
	}

	.catalog {
		&__tabs {
			flex-direction: column;
		}
		&__tab {
			width: 300px;
			height: 52px;
			margin: 10px 5px;
		}
		.container {
			max-width: 500px;
		}
	}
}
@media (max-width: 575px) {
	.promo {
		&__header {
			font-size: 35px;
			line-height: 40px;
		}
		&__wrapper {
			justify-content: space-between;
			align-items: center;
		}
		&__icons {
			width: 100%;
		}
	}

	.button {
		margin-top: 15px;
		font-size: 16px;
		width: 300px;
		height: 50px;
		&_main {
			margin-top: 67px;
		}
		&_mini {
			width: 131px;
			height: 40px;
			font-size: 14px;
		}
	}

	.header {
		padding-left: 19px;
		padding-right: 19px;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		&__logo {
			width: 250px;
			img {
				width: 100%;
			}
		}
		&_item {
			margin-top: 20px;
		}
		&__official {
			font-size: 19px;
		}
		&__contacts {
			align-items: center;
		}
		&__phone {
			font-size: 22px;
		}
	}

	.advantage {
		&__list {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
		}
		&__item {
			margin-top: 35px;
			justify-content: center;
			width: 100%;
		}
		&__title {
			font-size: 22px;
		}
		&__discr {
			font-size: 17px;
		}
	}
	.consultation {
		.title {
			font-size: 22px;
			line-height: 35px;
		}
		&__descr {
			padding-top: 18px;
			line-height: 22px;
		}
	}
	.carousel {
		padding-bottom: 0px;
		min-height: 500px;
		.tns-nav {
			button {
				height: 20px;
				width: 20px;
			}
			.tns-nav-active {
				width: 30px;
				height: 30px;
				opacity: 0.4;
			}
		}
	}
	.reviews {
		&__wrape {
			flex-direction: column;
			justify-content: center;
			img {
				margin: 0 auto;
				margin-bottom: 40px;
			}
		}
		&__user-name {
			text-align: center;
		}
		&__distans {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}
